# Remove any pyache or pytest folders
.pytest_cache
pytest_cache
.__pycache__
__pycache__
tog-ngac-crosscpp
tog-ngac-crosscpp/*
.vscode
.vscode/*
*log*
*result*
*tog*
src/NGAC/LOG/*
tog*
tog-ngac*
result*
*result*
*log*
*pdf*
*log*
*tog*
*tog*
*EXAMPLES*
*results*
*Results*
*RESULT*
*Result*
*result*
*pytest*
*rabe*
*rabe*/*
*LOG*
*log*
*egg*
